<%- include('partials/header') %>
<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white heading text-decoration-none">
        Expenses Tracker
        <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg> -->
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <!-- <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li> -->
        <!-- <li><a href="/submit" class="nav-link px-2 text-white">Add Expenses</a></li>
        <li><a href="#" class="nav-link px-2 text-white">View Expenses</a></li> -->
      </ul>
      <div class="text-end">
        <a role="button" href="/login" class="btn btn-outline-light me-2">Login</a>
        <a role="button" href="/register" class="btn btn-warning">Register</a>
      </div>
    </div>
  </div>
</header>
<div class="container mt-5">
  

  <div class="row1" style="height: 84vh;">
    <div class="col1">
      <h1 class="heading1">Turn Expenses into data.</h1>
      <p>Get paper off your desk and into action.</p>
      <a class="btn btn-dark m-1 button1" href="/register" role="button">Register</a>
    </div>

    <div class="col1">
      <h1 style="text-align: center;">Login</h1>
      <div class="card card1">
        <div class="card-body">
          <% if (message && message.length > 0) { %>
            <div class="error">
              <% message.forEach(function(msg) { %>
                <p><%= msg %></p>
              <% }) %>
            </div>
          <% } %>
          <!-- Makes POST request to /login route -->
          <form action="/login" method="post">
            <div class="form-group m-1 p-2">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username" value="<%= formData && formData.username ? formData.username : '' %>" >
            </div>
            <div class="form-group m-1 p-2">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" value="<%= formData && formData.password ? formData.password : '' %>" >
            </div>
            <div class="button">
              <button type="submit" class="btn btn-dark m-2 pl-3 pr-3">Login</button>
            </div>
          </form>
          <p class="para mt-2">Don't have account? <a href="/register"> Register here</a></p>

        </div>
      </div>
      <div class="mt-2 button">
          <a class="btn btn-block btn-social btn-google google" href="/auth/google" role="button">Sign Up with 
            <i class="fab fa-google google-icon"></i>
          </a>
        </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
<!-- <script>
  document.addEventListener('DOMContentLoaded', () => {
    const form = document.querySelector('form');
    const usernameInput = document.querySelector('[name="username"]');
    const passwordInput = document.querySelector('[name="password"]');

    // Retrieve and pre-fill form data from localStorage
    const storedUsername = localStorage.getItem('formData-username');
    const storedPassword = localStorage.getItem('formData-password');
    if (storedUsername) {
      usernameInput.value = storedUsername;
    }
    if(storedPassword){
      passwordInput.value = storedPassword;
    }

    form.addEventListener('submit', (event) => {
      // Store form data in localStorage when the form is submitted
      localStorage.setItem('formData-username', usernameInput.value);
      localStorage.setItem('formData-password',passwordInput.value);
    });
  });
</script> -->


<!-- <script>
  const form = document.getElementById('login-form');
  // const storedUsername = localStorage.getItem('formData-username');

  // // Pre-fill form data from localStorage on page load
  // if (storedUsername) {
  //   form.querySelector('[name="username"]').value = storedUsername;
  // }

  form.addEventListener('submit', function (event) {
    event.preventDefault();
    const formData = new FormData(form);
    console.log(formData.get("username"));
    console.log(formData.get("password"));
    fetch('/login', {
      method: 'POST',
      body: formData,
    })
    .then((response) => response.json())
    .then((data) => {
      if (data.success) {
        // If login is successful, clear form fields and redirect to the dashboard page
        localStorage.removeItem('formData-username'); // Clear the stored username
        form.reset();
        window.location.href = '/expense'; // Replace with your dashboard URL
      } else {
        // If login fails, display the error message and retain the data in the form fields
        document.getElementById('error-message').style.display = 'block';
        document.getElementById('error-message').textContent = 'Invalid username or password';

        // Store the username in localStorage for data persistence on failed login
        localStorage.setItem('formData-username', formData.get('username'));
      }
    })
    .catch((error) => {
      console.error('Error:', error);
      document.getElementById('error-message').style.display = 'block';
      document.getElementById('error-message').textContent = 'An error occurred. Please try again later.';
    });
  });
</script> -->